@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'Work Sans', sans-serif; 
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p {
    color: black;
    font: 2rem;
    font-size: 1.5rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: gray;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.section-title span {
    color: pink;
}
.cta {
    display: inline-block;
    padding: 10px 30px;
    color: gray;
    background-color: transparent;
    border: 2px solid pink;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
.cta:hover {
    color: black;
    background-color: pink;
}
.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: gray;
}
.brand h1 span {
    color: pink;
}

/* Header Section */
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header {
    min-height: 8vh;
    background-color: white;
    transition: .3s ease background-color;
}
.header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: white;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
}
#header .nav-list ul.active {
    left: 0;
}
#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: pink;
    font-size: 12rem;
    letter-spacing: 50px;
    z-index: -1;
}
#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li:hover a{
    color: pink;
}
#header .happy {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid gray;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
}
#header .happy::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid pink;
    animation: happy_puls 1s ease infinite;
}
#header .happy .bar {
    height: 2px;
    width: 3px;
    position: relative;
    background-color: gray;
    z-index: -1;
}
#header .happy .bar::after,
#header .happy .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: black;
    transition: .3s ease;
    transition-property: top, bottom;
}
#header .happy .bar::after {
    top: 8px;
}
#header .happy .bar::before {
    bottom: 8px;
}
#header .happy.active .bar::before. {
    bottom: 0;
}
#header .happy.active .bar::after {    
    top: 0;
}
/* End Header Section */

/* keyframes */
@keyframes happy_puls{
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
     100%{
         width: 0;
         left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: gray;
    }
}
@keyframes text_reveal_name {
    100% {
        color: pink;
        font-weight: 500;
    }
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/* End keyframes */

/* Media Query For Tablet */ 
@media only screen and (min-width: 768px) {
    .cta {
        font-size:  2.5rem;
        padding: 20px 60px;
    }
    h1.section-title {
        font-size: 6rem;
    }
/* Home */
#home h1 {
    font-size: 7rem;
}
/* End Home */

/*Aboutme */
#aboutme .about {
    flex-direction: row;
}
#aboutme .col-left {
    width: 600px;
    height: 400px;
    padding-left: 60px;
}
#aboutme .about .col-left .about-img::after {
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid pink;
}
#aboutme .col-right {
    text-align: left;
    padding: 30px;
}
#aboutme .col-right h1 {
    text-align: left;
}
/* End Aboutme */
}
/* End Media Query For Tablet*/

/* Media Query For Desktop */ 
@media only screen and (min-width: 1200px) {
    /*header */
    #header .happy {
        display: none;
    }
    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
    }
    #header .nav-list ul li {
        display: inline-block;
    }
    #header .nav-list ul li a {
        font-size: 1.7rem;
    }
    #header .nav-list ul a::after {
        display: none;
    }
    /* End header*/
}
/* End Media Query For Desktop */
    }
    /* End header */
